/*Discover*/
html {
   --nav-background: #F5F2F2;
   --radius: .4em;
   font-size: 62.5%;
}


body {
   --gap: .4em;
   margin: 0;
   color: #5C5C5C;
   font-size: 1.4rem;
}

header {
   position: relative;
   z-index: 2;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   background-color: var(--nav-background);
   box-shadow: 0 1px 9px rgba(35, 0, 19 , .3);
}

header a {
   display: flex;
   align-items: center;
}

.search {
   height: 24px;
   margin: 2px 18px 0 0;
}

nav {
   display: flex;
   flex-direction: row;
   align-items: center;
   height: 46px;
   position: fixed;
   top: auto;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 1;
   padding-left: 6%;
   padding-right: 6%;
   border-top: 1px solid #c3c3c3;
   background-color: var(--nav-background);
}

nav ul {
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 100%;
   height: inherit;
   justify-content: space-evenly;
   margin: 0;
   padding: 0;
}

nav ul li {
   list-style: none;
}

nav ul li a {
   display: block;
}

nav a img {
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   padding-bottom: .15rem;
   height: 18px;
}

nav a {
   font-size: .8em;
   color: #230013;
   text-decoration: none;
}

.menu_ico {
   filter: opacity(60%);
}

.ico_sel {
   filter: none;
}

.search_bar {
   border: 1px solid #c3c3c3;
   border-radius: .8em;
   border-style: solid;
   width: 48vw;
   height: 2.3em;
   outline: none;
   background-image: url("images/search.png");
   background-size: 1.5em;
   background-repeat: no-repeat;
   background-position: 6px center ;
   padding-left: 2.4em;
}

.search_bar::-webkit-search-cancel-button {
   -webkit-appearance: none;
   background-image: url("images/remove.png");
   background-size: 1em;
   background-repeat: no-repeat;
   background-position: center center;
   height: 15px;
	width: 15px;
   filter: opacity(54%);
}

.searching {
   position: relative;
   z-index: 1;
   top: -42px;
   display: flex;
   height: 42px;
   align-items: center;
   justify-content: center;
   background-color: #F5F2F2;
   transition: top .2s ease-in;
}

.searching.active {
   top: 0;
}

.contentWrapper {
   position: relative;
   margin: 0 3vw 3vw;
   top: -42px;
   transition: top .2s ease-out;
}

.hero {
   height: 60vw;
   margin-bottom: var(--gap);
   border-bottom-left-radius: var(--radius);
   border-bottom-right-radius: var(--radius);
   overflow: hidden;
}

.img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
}

.catalogue {
   display: grid;
   grid-template: 53vw 42vw 24vw 15vw / repeat(8, 1fr);
   gap: var(--gap);
}

.item {
   border-radius: var(--radius);
   background-size: cover;
   background-position: center;
   overflow: hidden;
}

.img.a {
   object-position: 0 -1em;
}

.item:nth-of-type(1) {
   grid-column-start: 1;
   grid-column-end: 5;
}

.item:nth-of-type(2) {
   grid-column-start: 5;
   grid-column-end: 9;
}

.item:nth-of-type(3) {
   grid-column-start: 1;
   grid-column-end: 3;
}

.item:nth-of-type(4) {
   grid-column-start: 3;
   grid-column-end: 7;
}

.item:nth-of-type(5) {
   grid-column-start: 7;
   grid-column-end: 9;
}

.item:nth-of-type(6) {
   grid-column-start: 1;
   grid-column-end: 9;
}

.sub-catalogue {
   display: grid;
   grid-template-columns: repeat(2, 1fr) 30% repeat(2, 1fr);
   height: 100%;
   gap: var(--gap);
}

.sub-item {
   border-radius: var(--radius);
   height: 100%;
   overflow: hidden;
}

.lightbox {
   display: none;
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   z-index: 2;
   background-color: rgba(7, 0, 5, 96%);
   width: 100%;
   height: 100%;
}

.dark-close {
   display: flex;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   width: 100%;
}

.close-lightbox {
   position: absolute;
   top: 1.5rem;
   left: 1.5rem;
   background-image: url("images/closegallery.png");
   background-size: cover;
   background-position: center;
   background-color: transparent;
   height: 1.8rem;
   width: 1.8rem;
   filter: opacity(30%);
}

.close-lightbox:hover, .close-lightbox:active {
   filter: opacity(100%);
}

figure {
   position: relative;
   width: fit-content;
   height: fit-content;
   margin: auto;
}

figure img {
   position: relative;
   display: block;
   max-height: 78vh;
   max-width: 78vw;
   margin: auto;
}

/*Index*/
.contentWrapper {
   margin: 0;
}

.index-hero img {
   height: 54vw;
   width: 100%;
   object-fit: cover;
   object-position: 0 36%;
}

.index-hero h1 {
   position: absolute;
   top: 2vh;
   right: .5vh;
   left: auto;
   font-size: 7vw;
   margin: 0;
   writing-mode: vertical-lr;
   text-orientation: upright;
   mix-blend-mode: difference;
   color: #D97823;
   text-transform: uppercase;
   font-family: 'Big Shoulders Inline Display', cursive;
}

@media screen and (min-width: 768px) {
   body {
      font-size: 1.6rem;
   }

   .contentWrapper {
      margin: 0 1vw 1vw;
   }

   .close-lightbox {
      top: 2.4em;
      left: 2.4em;
      width: 1.8en;
      height: 1.8en;
   }
}
/** 
 * Could not write on search bar input because of z-index was <1.
 * All icons were designed by me. All rights deserved. 
 */