:root {
   --nav-background: #F5F2F2;
   --radius: .3rem;
}


body {
   margin: 0;
   font-size: 14px;
   color: #5C5C5C;
}

header {
   position: relative;
   z-index: 2;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   background-color: var(--nav-background);
   box-shadow: 0 1px 9px rgba(35, 0, 19 , .3);
}

header img {
   height: 50px;
}

.search {
   height: 24px;
   margin: 2px 18px 0 0;
}

nav {
   display: flex;
   flex-direction: row;
   align-items: center;
   height: 46px;
   position: fixed;
   top: auto;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 1;
   padding-left: 6%;
   padding-right: 6%;
   border-top: 1px solid #c3c3c3;
   background-color: var(--nav-background);
}

nav ul {
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 100%;
   height: inherit;
   justify-content: space-evenly;
   margin: 0;
   padding: 0;
}

nav ul li {
   list-style: none;
}

nav ul li a {
   display: block;
}

nav a img {
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   padding-bottom: .15rem;
   height: 18px;
}

nav a {
   font-size: .7rem;
   color: #230013;
   text-decoration: none;
}

.menu_ico {
   filter: opacity(54%);
}

.ico_sel {
   filter: none;
}

.search_bar {
   border: 1px solid #c3c3c3;
   border-radius: .8em;
   border-style: solid;
   width: 48vw;
   height: 2.3em;
   outline: none;
   background-image: url("images/search.png");
   background-size: 1.5em;
   background-repeat: no-repeat;
   background-position: 6px center ;
   padding-left: 2.4em;
}

.search_bar::-webkit-search-cancel-button {
   -webkit-appearance: none;
   background-image: url("images/remove.png");
   background-size: 1em;
   background-repeat: no-repeat;
   background-position: center center;
   height: 15px;
	width: 15px;
   filter: opacity(54%);
}

.searching {
   position: relative;
   z-index: 1;
   top: -42px;
   display: flex;
   height: 42px;
   align-items: center;
   justify-content: center;
   background-color: #F5F2F2;
   transition: top .2s ease-in;
}

.searching.active {
   top: 0;
}

.contentWrapper {
   position: relative;
   margin: 0 3vw 3vw;
   top: -42px;
   transition: top .2s ease-out;
}

.hero {
   height: 60vw;
   margin-bottom: .6rem;
   overflow: hidden;
   background-image: url("images/la-grenouillere-1869.jpg");
   background-size: cover;
   background-position: center;
   border-bottom-left-radius: var(--radius);
   border-bottom-right-radius: var(--radius);
}

.catalogue {
   display: grid;
   grid-template: 53vw 42vw 24vw 15vw / repeat(8, 1fr);
   gap: .6rem;
}

.item {
   border-radius: var(--radius);
   background-size: cover;
   background-position: center;
}

.item:nth-of-type(1) {
   height: auto;
   grid-column-start: 1;
   grid-column-end: 5;
   background-image: url("images/dance-at-bougival-1883.jpg");
   background-position: center -1rem;
}

.item:nth-of-type(2) {
   grid-column-start: 5;
   grid-column-end: 9;
   background-image: url("images/at-the-opera-1880.jpg");
}

.item:nth-of-type(3) {
   grid-column-start: 1;
   grid-column-end: 3;
   background-image: url("images/girl-reading-1886.jpg");
   background-image: url("images/roses-1917.jpg");
}

.item:nth-of-type(4) {
   grid-column-start: 3;
   grid-column-end: 7;
   background-image: url("images/studies-of-the-children-1881.jpg");
}

.item:nth-of-type(5) {
   grid-column-start: 7;
   grid-column-end: 9;
   background-image: url("images/a-girl-1.jpg");
   background-position: center top;
}

.item:nth-of-type(6) {
   grid-column-start: 1;
   grid-column-end: 9;
}

.sub-catalogue {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   height: 100%;
   gap: .6rem;
}

.sub-item {
   border-radius: var(--radius);
   height: 100%;
   background-size: cover;
   background-position: center;
}

.sub-item:nth-of-type(1) {
   background-image: url("images/madame-and-her-daughter.jpg");
}

.sub-item:nth-of-type(2) {
   background-image: url("images/flowers.jpg");
}

.sub-item:nth-of-type(3) {
   background-image: url("images/forest-path-1875.jpg");
   width: 22vw;
}

.sub-item:nth-of-type(4) {
   background-image: url("images/sleeping-woman-1897.jpg");
}

.sub-item:nth-of-type(5) {
   background-image: url("images/girl-reading-1886.jpg");
}

.item:nth-of-type(7) {
   background-image: url("images/young-woman-sewing.jpg");
}

.item:nth-of-type(8) {
   background-image: url("images/still-life-with-fish-1.jpg");
}

.item:nth-of-type(9) {
   background-image: url("images/chestnut-tree-blooming-1881.jpg");
}

.item:nth-of-type(10) {
   background-image: url("images/irene-cahen-1880.jpg");
}

.item:nth-of-type(11) {
   background-image: url("images/nude-in-a-chair-1900.jpg");
   background-position: center top;
}

.item:nth-of-type(12) {
   background-image: url("images/sleeping-girl-girl-with-a-cat-1880.jpg");
   background-position: center top;
}

.item:nth-of-type(13) {
   background-image: url("images/the-hatpin-1898.jpg");
}

.item:nth-of-type(14) {
   background-image: url("images/the-thinker-1877.jpg");
}

@media screen and (min-width: 480px) {
}

/** 
 * Could not write on search bar input because of z-index was <1.
 * All icons were designed by me. All rights deserved. 
 */